<section class="about" id="about">
   <div class="about__container container grid">
    <div class="about__data">
     <h2 class="section__title">
        <span>Creativity</span>
        <br> Is My Passion
     </h2>
     <p class="about__description">
      Estudiante de Ingeniería de Software, apasionado por el desarrollo de aplicaciones robustas y por la garantía de calidad del software. Me motiva crear soluciones eficientes, escalables y bien diseñadas, aplicando buenas prácticas de desarrollo como principios SOLID, patrones de diseño y arquitectura basada en APIs REST
     </p>
     <a href="/pdf/Currículum_Ivan_Priala.pdf" download target="_blank" class="button">Curriculum Vitae <i class="ri-file-list-2-line"></i></a>
    </div>
   </div> 
</section>