---

---

<header class="header" id="header">
    <div class="blob-animate"></div>

    <nav class="nav-container">
        <a href="#" class="nav__logo">Ivan</a>
        <div class="nav__menu">
            <ul class="nav__list">
                <li ><a href="#about" class="nav__link">Sobre mi</a></li>
                <li><a href="#projects" class="nav__link">Proyectos</a></li>
                <li><a href="#contact" class="nav__link">Contacto</a></li>
            </ul>

        </div>
    </nav> 
</header>


<!-- <header class="header" id="header">
        <nav class="nav-container">
            <a href="#" class="nav__logo">Ivan</a>
            <div class="nav__menu">
                <div class="nav__indicator" id="indicator"></div>
                <ul class="nav__list" id="navList">
                    <li><a href="#about" class="nav__link active" data-section="about">Sobre mi</a></li>
                    <li><a href="#projects" class="nav__link" data-section="projects">Proyectos</a></li>
                    <li><a href="#contact" class="nav__link" data-section="contact">Contacto</a></li>
                </ul>
            </div>
        </nav> 
    </header>-->
