<section class="home section">
  <div class="home__shadow"></div>
  <div class="home__container container">

    <div class="home__left">
      <div class="home__data">
        <h3 class="home__greeting">Hola, soy</h3>
        <h1 class="home__name">Ivan <br> Priala</h1>
      </div>

      <div class="home__info">
        <h3 class="home__split">Ingeniero</h3>
        <h2 class="home__profession-1">Software</h2>
        <h2 class="home__profession-2">Backend</h2>
      </div>

      <div class="home__social">
        <a href="https://www.linkedin.com/in/ivan-priala" target="_blank" class="home__social-link"><i class="ri-linkedin-box-line"></i></a>
        <a href="https://github.com/JOVANNIZ10" target="_blank" class="home__social-link"><i class="ri-github-line"></i></a>
        <a href="https://www.instagram.com/ivan_priala/" target="_blank" class="home__social-link"><i class="ri-instagram-line"></i></a>
      </div>

      <a href="/pdf/Currículum_Ivan_Priala.pdf" download target="_blank" class="home__cv">
        Curriculum Vitae <i class="ri-file-list-2-line"></i>
      </a>
    </div>

    <div class="home__image-wrapper">
        <div class="home__image">
            <div class="blob-animate"></div>
            <img src="/images/ivan.JPG" alt="" class="home__perfil">
        </div>
    </div>

    

  </div>
</section>