<section class="home section">
    <div class="home__shadow"></div>
    <div class="home__container container grid">
        <div class="home__data">
            <h3 class="home__greeting">Hola, soy</h3>
            <h1 class="home__name">Ivan <br> Priala</h1>
        </div>
        <div class="home__image">
            <div class="blob-animate"></div>
            <img src="" alt="" class="home__perfil">

        </div>
        <div class="home__info">
            <h3 class="home__split">Ingeniero</h3>
            <h2 class="home__profession-1">de Software</h2>
            <h2 class="home__profession-2">Backend</h2>

        </div>
        <div class="home__social">
            <a href="" target="_blank" class="home__social-link"><i class="ri-linkedin-box-line"></i></a>
            <a href="" target="_blank" class="home__social-link"><i class="ri-github-line"></i></a>
            <a href="" target="_blank" class="home__social-link"><i class="ri-instagram-line"></i></a>
            <a href="" target="_blank" class="home__social-link"><i class="ri-mail-line"></i></a>
        </div>
        <a href="/pdf/Currículum_Ivan_Priala.pdf" download target="_blank" class="home__cv">Curriculum Vitae<i class="ri-file-list-2-line"></i></a>

    </div>
</section>